<!-- Manager Role Card -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../Assets/images/BillLumbergh.jpg" class="card-img" alt="very productive Manager">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <!-- Name -->
                <h5 class="card-title">${team[0].managerName}</h5>
                <!-- Role -->
                <h5 class="card-title">Manager</h5>
                <ul class="list-group">
                    <!-- ID -->
                    <li class="list-group-item">Employee ID:${team[0].managerId}</li>
                    <!-- Email -->
                    <li class="list-group-item">Employee Email:${team[0].managerEmail}</li>
                    <!-- Role Info -->
                    <li class="list-group-item">Office NUmber:${team[0].officeNumber}</li>
                </ul>
            </div>
        </div>
    </div>
</div>